/* Navbar.scss */

.navbar {
  // background-color: #333;
  padding: 10px 20px;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    .nav-link {
      margin: 10px;

      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: color 0.3s, transform 0.3s; /* Add transitions for color and transform */
        font-size: 16px; /* Set the initial font size */
      }

      a:hover {
        color: #ff5733; /* Change the color on hover */
        transform: scale(1.1); /* Scale the text on hover (adjust the factor as needed) */
      }
    }

    .nav-link-active {
      @extend .nav-link;
      a {
        color: #ff5733;
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column; /* Change to a column layout for smaller screens */
      align-items: center; /* Center items in the column */
      text-align: center; /* Center text in each item */
      padding-top: 10px; /* Add space at the top for better spacing */
    }

    .nav-link {
      margin: 10px 0; /* Add margin to each link for spacing in the column */
    }
  }
}
